<div id="comments-list">
    {{#commentDtos}}
        <div class="card m-2" id="comments-{{id}}">
            <div class="card-header">
                {{nickname}}
                <!-- Button trigger modal -->
                <button type="button"
                        class="btn btn-sm btn-outline-primary"
                        data-bs-toggle="modal"
                        data-bs-target="#comment-edit-modal">
                    수정
                </button>

                <!-- Modal -->
                <div class="modal fade" id="comment-edit-modal" tabindex="-1">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5"
                                    id="exampleModalLabel">댓글 수정</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form>
                                    <div class="mb-3">
                                        <label class="form-label">닉네임</label>
                                        <input type="text" class="form-control" id="new-comment-nickname">
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label">댓글 내용</label>
                                        <textarea type="text" class="form-control" rows="3" id="new-comment-body"></textarea>
                                    </div>
                                    {{#article}}
                                        <input type="hidden" id="new-comment-article-id" value="{{id}}">
                                    {{/article}}
                                    <button type="button" class="btn btn-primary" id="comment-create-btn">댓글 작성</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                {{body}}
            </div>
        </div>
    {{/commentDtos}}
</div>